<a href="https://colab.research.google.com/github/VPDeb/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
##### Begin Working Here #####

import pandas as pd
import numpy as np

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-09-01 21:43:05--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.244.115.45, 54.148.13.215, 35.161.89.82
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.244.115.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [                <=> ]  22.28M  2.14MB/s    in 11s

2020-09-01 21:43:16 (2.12 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23360898]

In [ ]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [2]:
df=pd.read_csv('LoanStats_2018Q4.csv', header=1)
print(df.shape)
df.head()
df.tail()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

                                                      id  ...  settlement_term
128409                                               NaN  ...              NaN
128410                                               NaN  ...              NaN
128411                                               NaN  ...              NaN
128412  Total amount funded in policy code 1: 2050909275  ...              NaN
128413   Total amount funded in policy code 2: 820109297  ...              NaN

[5 rows x 144 columns]

In [3]:
df=pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [4]:
df.isnull().sum().sort_values()

inq_fi                           0
mo_sin_old_rev_tl_op             0
delinq_amnt                      0
chargeoff_within_12_mths         0
acc_open_past_24mths             0
                             ...
settlement_percentage       127475
desc                        128412
url                         128412
member_id                   128412
id                          128412
Length: 144, dtype: int64

In [5]:
df = df.drop(['id', 'member_id', 'desc', 'url'], axis=1)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      27975        27975  ...                    NaN             NaN
1      10000        10000  ...                    NaN             NaN
2      28000        28000  ...                    NaN             NaN
3      16000        16000  ...                    NaN             NaN
4       7500         7500  ...                    NaN             NaN

[5 rows x 140 columns]

In [6]:
df['int_rate'].head(10)

0     14.47%
1     12.98%
2     13.56%
3     13.56%
4     10.72%
5     20.89%
6     26.31%
7     23.40%
8     19.92%
9     17.97%
Name: int_rate, dtype: object

In [7]:
df['int_rate'][0]

' 14.47%'

In [8]:
int_rate=' 14.47%'

In [9]:
int_rate.strip().strip('%')

'14.47'

In [10]:
def int_rate_to_float(int_rate):
  return float(int_rate.strip().strip('%'))

In [11]:
df['int_rate'].apply(int_rate_to_float)

0         14.47
1         12.98
2         13.56
3         13.56
4         10.72
          ...
128407    15.02
128408    15.02
128409    13.56
128410    11.06
128411    16.91
Name: int_rate, Length: 128412, dtype: float64

In [12]:
df['new_int_rate']=df['int_rate'].apply(int_rate_to_float)

In [13]:
df.head

<bound method NDFrame.head of         loan_amnt  funded_amnt  ...  settlement_term new_int_rate
0           27975        27975  ...              NaN        14.47
1           10000        10000  ...              NaN        12.98
2           28000        28000  ...              NaN        13.56
3           16000        16000  ...              NaN        13.56
4            7500         7500  ...              NaN        10.72
...           ...          ...  ...              ...          ...
128407      23000        23000  ...              NaN        15.02
128408      10000        10000  ...              NaN        15.02
128409       5000         5000  ...              NaN        13.56
128410      10000        10000  ...              NaN        11.06
128411      10000        10000  ...              NaN        16.91

[128412 rows x 141 columns]>

In [14]:
df.dtypes.tail()

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
new_int_rate             float64
dtype: object

In [15]:
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [16]:
df['emp_title'].isnull().sum()

20947

In [17]:
example = ['manager', ' Operations Manager', 'Registered Nurse', np.NaN, 'OWNER']

In [18]:
def clean_emp_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return 'Unknown'

for title in example:
  print(clean_emp_title(title))

Manager
Operations Manager
Registered Nurse
Unknown
Owner

In [19]:
df['emp_title_clean'] = df['emp_title'].apply(clean_emp_title)
df.head()

   loan_amnt  funded_amnt  ...  new_int_rate  emp_title_clean
0      27975        27975  ...         14.47        Conductor
1      10000        10000  ...         12.98          Printer
2      28000        28000  ...         13.56  Project Manager
3      16000        16000  ...         13.56             Lmsw
4       7500         7500  ...         10.72  Program Manager

[5 rows x 142 columns]

In [20]:
df['emp_title_clean'].value_counts(dropna=False).head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title_clean, dtype: int64

In [21]:
df['issue_d']

0         Dec-2018
1         Dec-2018
2         Dec-2018
3         Dec-2018
4         Dec-2018
            ...
128407    Oct-2018
128408    Oct-2018
128409    Oct-2018
128410    Oct-2018
128411    Oct-2018
Name: issue_d, Length: 128412, dtype: object

In [22]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [23]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [24]:
df.head()

   loan_amnt  funded_amnt  ...  new_int_rate  emp_title_clean
0      27975        27975  ...         14.47        Conductor
1      10000        10000  ...         12.98          Printer
2      28000        28000  ...         13.56  Project Manager
3      16000        16000  ...         13.56             Lmsw
4       7500         7500  ...         10.72  Program Manager

[5 rows x 142 columns]

In [25]:
df['issue_d_year'] = df['issue_d'].dt.year
df['issue_d_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_d_year issue_d_month
0      27975        27975  ...          2018            12
1      10000        10000  ...          2018            12
2      28000        28000  ...          2018            12
3      16000        16000  ...          2018            12
4       7500         7500  ...          2018            12

[5 rows x 144 columns]

In [26]:
df['issue_d'].isnull().sum()

0

In [27]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [28]:
df['credit_history_length'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 365

In [29]:
df['credit_history_length'].describe()

count    128412.000000
mean         16.054497
std           7.908317
min           3.084932
25%          11.093151
50%          14.427397
75%          19.846575
max          68.961644
Name: credit_history_length, dtype: float64

In [30]:
df['term'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
128407    False
128408    False
128409    False
128410    False
128411    False
Name: term, Length: 128412, dtype: bool

In [64]:
df['term'] = df['term'].fillna(method='ffill').fillna(method='bfill')

In [31]:
df['term'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
128407    False
128408    False
128409    False
128410    False
128411    False
Name: term, Length: 128412, dtype: bool

In [32]:
term = ' 36 months'
term.lstrip()

'36 months'

In [33]:
df['term'] = df['term'].str.strip()

In [34]:
df['term'].head()

0    36 months
1    60 months
2    60 months
3    60 months
4    36 months
Name: term, dtype: object

In [ ]:
#At this point I am stuck, will reach out in the am to see where I'm missing 
#something.  Tried a variety of ways and I know its something simple thats not
#clicking.  Leaving my mess of cells to go over tommorrow

In [38]:
pd.Series(df['term']).astype(int)

ValueError: ignored

In [35]:
df['term'] = pd.to_numeric(df['term'])
df['

ValueError: ignored

In [23]:
df['term'] = df['term'].astype(str).astype(int)

ValueError: ignored

In [35]:
df['last_pymnt_d']

0         Jan-2020
1         Aug-2020
2         Aug-2020
3         Aug-2020
4         Sep-2019
            ...
128407    Dec-2018
128408    Aug-2020
128409    Aug-2020
128410    Aug-2020
128411    Aug-2020
Name: last_pymnt_d, Length: 128412, dtype: object

In [36]:
df['last_pymnt_d'] = df['last_pymnt_d'].fillna(method='ffill').fillna(method='bfill')

In [37]:
df['last_pymnt_d'].isnull().sum()

0

In [38]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [39]:
df['last_pymnt_d'].head

<bound method NDFrame.head of 0        2020-01-01
1        2020-08-01
2        2020-08-01
3        2020-08-01
4        2019-09-01
            ...
128407   2018-12-01
128408   2020-08-01
128409   2020-08-01
128410   2020-08-01
128411   2020-08-01
Name: last_pymnt_d, Length: 128412, dtype: datetime64[ns]>

In [40]:
df['last_pymnt_d'].dt.year

0         2020
1         2020
2         2020
3         2020
4         2019
          ...
128407    2018
128408    2020
128409    2020
128410    2020
128411    2020
Name: last_pymnt_d, Length: 128412, dtype: int64

In [41]:
df['last_pymnt_d'].dt.month

0          1
1          8
2          8
3          8
4          9
          ..
128407    12
128408     8
128409     8
128410     8
128411     8
Name: last_pymnt_d, Length: 128412, dtype: int64

In [42]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

df.head

<bound method NDFrame.head of         loan_amnt  funded_amnt  ...  last_pymnt_d_year last_pymnt_d_month
0           27975        27975  ...               2020                  1
1           10000        10000  ...               2020                  8
2           28000        28000  ...               2020                  8
3           16000        16000  ...               2020                  8
4            7500         7500  ...               2019                  9
...           ...          ...  ...                ...                ...
128407      23000        23000  ...               2018                 12
128408      10000        10000  ...               2020                  8
128409       5000         5000  ...               2020                  8
128410      10000        10000  ...               2020                  8
128411      10000        10000  ...               2020                  8

[128412 rows x 147 columns]>

In [43]:
df['loan_status']

0          Fully Paid
1             Current
2             Current
3             Current
4         Charged Off
             ...
128407    Charged Off
128408        Current
128409        Current
128410        Current
128411        Current
Name: loan_status, Length: 128412, dtype: object

In [44]:
df['loan_status'].value_counts()

Current               79355
Fully Paid            35543
Charged Off           10715
Late (31-120 days)     1184
In Grace Period        1178
Late (16-30 days)       413
Default                  24
Name: loan_status, dtype: int64

In [45]:
conditions = [
              (df['loan_status'] == 'Fully Paid'),
              (df['loan_status'] == 'Current'),
              (df['loan_status'] == 'Charged Off'),
              (df['loan_status'] == 'Late (31-120 days)'),
              (df['loan_status'] == 'In Grace Period'),
              (df['loan_status'] == 'Late 16-30days'),
              (df['loan_status'] == 'Default')
              ]

values = ['1', '1', '0', '0', '0', '0', '0']
df['loan_status_is_great'] = np.select(conditions, values)

df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month loan_status_is_great
0      27975        27975  ...                   1                    1
1      10000        10000  ...                   8                    1
2      28000        28000  ...                   8                    1
3      16000        16000  ...                   8                    1
4       7500         7500  ...                   9                    0

[5 rows x 148 columns]

In [46]:
df['loan_status_is_great'].head(20)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     1
8     1
9     1
10    0
11    1
12    1
13    1
14    0
15    1
16    1
17    1
18    1
19    0
Name: loan_status_is_great, dtype: object

In [27]:

df['loan_status_is_great'] = np.where(df['loan_status']!=['Fully Paid', 'Current'], True, False)

#Liked this thought process,  Have to figure out the missing link to get it to 
#listen to me or for me to listen to it.  Ill figure it out one day.

ValueError: ignored

In [7]:
df['loan_status_is_great']

vals = ['Fully Paid', 'Current']
for v in vals:
  v = df['loan_status']
  if vals == v
    return 1
  else
    return 0

#I know Im getting somewhere with this.  Just dont know enough to get it to do
#what I want it to.  Ill be back to work on it

SyntaxError: ignored

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01